@import "../../styles/mixins/button.scss";

.container {
  position: absolute;
  inset-inline-start: calc(50% - (var(--circle-size, 530px) / 2));
  inset-block-start: 215px;
}

.circle {
  inline-size: var(--circle-size, 530px);
  block-size: var(--circle-size, 530px);
  border-radius: 100%;
  border: 1px solid rgba(66, 86, 122, 0.5);
}

.button {
  @include button(56px, #303e5880);
  position: absolute;
  inset-inline-end: calc(50% - (var(--circle-button-size, 56px) / 2));
  inset-block-end: calc(50% - (var(--circle-button-size, 56px) / 2));
  background-color: var(--main-background-color, #f4f5f9);
}
