@import "../fonts/font.scss";
@import "./variables.scss";
@import "./reset.scss";

body {
  background-color: var(--main-background-color, #f4f5f9);
  font-family: var(--main-font-family, sans-serif);
  font-weight: 700;
  font-size: 14px;
}

.swiper-horizontal > #pagination.swiper-pagination-bullets,
#pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: unset;
}
