:root {
  --main-background-color: #f4f5f9;
  --main-border-color: rgba(66, 86, 122, 0.1);
  --main-font-family: "PTSans-Bold";
  --second-font-family: "BebasNeue-Regular";
  --circle-size: 530px;
  --circle-size: clamp(25.625rem, 21.125rem + 10vw, 33.125rem);
  --circle-button-size: 56px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-color: #42567a;
  --swiper-pagination-bullet-inactive-color: #42567a;
  --swiper-pagination-bullet-inactive-opacity: 0.4;

}
