@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/font-files/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/font-files/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
