.button {
  appearance: none;
  border-radius: 100%;
  inline-size: 50px;
  block-size: 50px;
  border: 1px solid var(--button-border-color, rgba(66, 86, 122, 0.5));
  background-color: transparent;
  background: center / 20% no-repeat url('../../images/arrow.png') ;
  cursor: pointer;
}

.button_reversed {
  rotate: 180deg;
}
