.container {
  position: absolute;
  inset-inline-start: calc(-50% + 26px);
  inset-block-end: calc(50% - 87px);
  display: flex;
  gap: 90px;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 200px;
  letter-spacing: -3px;
}


.text_left {
  // inset-inline-end: 328px;
  color: #5d5fef;
}

.text_right {
  // inset-inline-start: 292px;
  color: #ef5da8;
}
