.container {
  margin-inline-end: 35px;
  margin-block-end: 25px;
  display: flex;
  gap: 90px;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: clamp(3.5rem, 1.7rem + 9vw, 12.5rem);
  letter-spacing: -3px;
}


.text_left {
  color: #5d5fef;
}

.text_right {
  color: #ef5da8;
}
