@import "../../styles/mixins/button.scss";

.container {
  position: relative;
  margin-block-start: 56px;
  padding-inline-end: 80px;
  min-block-size: 165px;
}

.button {
  position: absolute;
  z-index: 12;
  border: none;
  box-shadow: 0px 0px 15px 0px #3877ee1a;
  inline-size: 40px;
  block-size: 40px;
  inset-block-end: 84px;
}

.button:disabled {
  visibility: hidden;
}

.button_left {
  inset-inline-end: calc(100% + 20px);
}

.button_right {
  inset-inline-end: 39px;
}
