@import "../../styles/mixins/button.scss";

.container {
  position: relative;
  margin-block-start: 56px;
  padding-inline: 80px;
  // padding-inline-end: clamp(1.25rem, -12.143rem + 14.286vw, 5rem);
  min-block-size: 165px;
  @media screen and (max-width: 720px) {
    padding-inline: 20px 0;
    margin-block-start: 18px;
  }
}

.button {
  position: absolute;
  z-index: 12;
  border: none;
  box-shadow: 0px 0px 15px 0px #3877ee1a;
  inline-size: 40px;
  block-size: 40px;
  inset-block-end: 84px;
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.button:disabled {
  visibility: hidden;
}

.button_left {
  inset-inline-end: calc(100% - 50px);
}

.button_right {
  inset-inline-end: 39px;
}
