@mixin button($size, $borderColor) {
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  inline-size: $size;
  block-size: $size;
  border: 1px solid $borderColor;
}
